* {
    margin: 0;
    padding: 0;
    box-shadow: none;
}

html {
    scroll-behavior: smooth;
    font-family: "Roboto Light", sans-serif;
}

body {
    background-color: #0e0e0e;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#s1 {
    background-color: #d00707;
}

#s2 {
    background-color: #00f8f8;
}

#s3 {
    background-color: #7803c5;
}